<div ng-class="{'avisa_resultado_50':true,'positivo':ok,'negativo':!ok}" ng-show="obteve_resposta">{{msg}}</div>

<div id="usuario_container" class="bloco_conteudo bloco_central_50">
	<h1><img src="img/usuario.png">Dados de {{usuario.nome}}</h1>
	<div>
		<div class="item">
			<label for="login">Nome:</label>
			<input type="text" placeholder="Digite o nome" ng-model="usuario.nome">
		</div>
		<div class="item">
			<label for="email">E-mail:</label>
			<input type="text" name="email" placeholder="Digite o e-mail" ng-model="usuario.email">
		</div>
		<div class="item">
			<label for="login">Login:</label>
			<input type="text" placeholder="Digite o login" ng-model="usuario.login">
		</div>
		<div class="item">
			<label for="login">Senha:</label>
			<input type="password" placeholder="Digite a senha" ng-model="usuario.senha1">
		</div>
		<div class="item">
			<label for="login">Confirme a senha:</label>
			<input type="password" placeholder="Confirme a senha" ng-model="usuario.senha2">
		</div>
		<div class="item">
			<label for="ativo">Ativo:</label>
			<input type="checkbox" name="ativo" ng-model="usuario.ativo">
			<span class="aviso">O usuário será inativado.</span>
		</div>
	</div>
	<button class="bt_cancelar" ng-click="cancel()">Cancelar</button>
	<button	class="bt_salvar" ng-click="salvarUsuario()">
		{{data.senha1!=data.senha2?"Confirme a senha corretamente":"Salvar"}}</button>
</div>