<div id="usuarios_container" class="container_80">

	<button class="bt_salvar">+ Adicionar Usuário</button>
	
	<div id="lista_de_usuarios">
		<a href="" class="bloco_conteudo usuario">
			<h2>Sérgio Moura</h2>
			<h3>smouracalmon@gmail.com</h3>
		</a>
		<a href="" class="bloco_conteudo usuario">
			<h2>Sérgio Moura</h2>
			<h3>smouracalmon@gmail.com</h3>
		</a>
		<a href="" class="bloco_conteudo usuario">
			<h2>Sérgio Moura</h2>
			<h3>smouracalmon@gmail.com</h3>
		</a>
		<a href="" class="bloco_conteudo usuario">
			<h2>Sérgio Moura</h2>
			<h3>smouracalmon@gmail.com</h3>
		</a>
		<a href="" class="bloco_conteudo usuario">
			<h2>Sérgio Moura</h2>
			<h3>smouracalmon@gmail.com</h3>
		</a>
		<a href="" class="bloco_conteudo usuario">
			<h2>Sérgio Moura</h2>
			<h3>smouracalmon@gmail.com</h3>
		</a>
		<a href="" class="bloco_conteudo usuario">
			<h2>Sérgio Moura</h2>
			<h3>smouracalmon@gmail.com</h3>
		</a>
		<a href="" class="bloco_conteudo usuario">
			<h2>Sérgio Moura</h2>
			<h3>smouracalmon@gmail.com</h3>
		</a>
	</div>
</div>