body {
	font-family:$fontFamily
}

body > md-toolbar{
	position:fixed;
	top:0;
	left:0;
}

body > .viewContainer{
	position: relative;
	top: 70px;
	padding:10px;
}

.marcadagua {
	width:200px;
	opacity: 0.3;
	position: fixed;
	right:10px;
	bottom:10px;
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}