$azul: #2196F3;
$azulClaro: #e3f2fd;
$verde:#6DD900;
$laranja: #ef6c00;
$laranjaClaro: #FFE0B2;
$cinza:rgba(0,0,0,0.54);
$cinzaClaro:rgba(0,0,0,0.12);
$cinzaMaisClaro:rgba(0,0,0,0.06);
$innerFormBgc:  #e1e1e1;
$mainFieldsBgc: #F3F3F3;
$mainFieldsFgc: #BABABA;