body>md-toolbar{
	position:fixed;
}
body>.viewContainer{
	position: relative;
	top: 70px;

}
.marcadagua {
	width:200px;
	opacity: 0.3;
	position: fixed;
	right:10px;
	bottom:10px;
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}