#grds_container {
	$leftWidth:400px;
	position: relative;
	.controles {
		width: $leftWidth;
		margin-top: 30px;
		padding: 15px;
		position: fixed;
		background-color: #FFF;
		.hint{
			color:#CCC;
			font-size: 12px;
			position: absolute;
			top: 33px;
			left: 4px;
		}
		md-datepicker {
			.md-datepicker-input{
				width: 180px;
			}			
		}
		md-input-container .md-errors-spacer {
			min-height: 0 !important;
		}
		
		.input-container-documento{
			position: relative;
			top: -10px;
		}
	}

	.resultados_container{
		margin: 30px 0 0 ($leftWidth + 10px);
		width: calc(100% - 400px);

		.resultado{
			cursor: pointer;
			padding: 20px;
			margin: 0 0 10px 0;
			&>div:first-child{
				margin-bottom: 10px;
			}
			background-color:#fafafa;
			width: 100%;
			* {
				cursor:pointer;
			}
		}
		.resultado:hover{
			background-color: #FFF;
		}
		.resultado_item{
			display: inline-block;
			vertical-align: top;
			margin-right: 10px;
			label {
				display: block;
				font-size: 12px;
				color: #BBB;
			}
			span{
				font-size: 14px;
			}
		}
		.resultado_item:last-child{
			margin-right: 0;
		}
		.paginacao{
			width: 400px;
			position: relative;
			left: 50%;
			margin-left: -200px;
			.md-button{
				width: 12%;
				min-width: 0px;
			}
		}
	}

	.instrucoes {
		text-align: center;
		width:50%;
		min-width:600px;
		color: $azul;
		margin: 0 auto 0 auto;
	}
}