<form name="form" ng-submit="salvarUsuario()">
	<div id="usuario_container" class="bloco_conteudo bloco_central_50" md-whiteframe="1dp">
		<h1>Dados de {{ usuario.id==0 ? 'Novo Usuário' : usuario.nome}}</h1>
		<div layout="column" class="md-padding">
			<div layout="row" layout-align="space-between center">
				<md-input-container flex="45">
					<label>Nome</label>
					<input type="text" ng-model="usuario.nome" required>
				</md-input-container>

				<md-input-container flex="45">
					<label>E-mail</label>
					<input type="email" ng-model="usuario.email" required>
				</md-input-container>
			</div>
			<div layout="row" layout-align="space-between center">
				<md-input-container flex="45">
					<label>Login</label>
					<input type="text" ng-model="usuario.login" required>
				</md-input-container>
				<md-checkbox class="md-primary" ng-model="usuario.ativo" aria-label="Usuário Ativo" flex="45">
					Ativo
					<span ng-if="usuario.ativo != inicialmenteAtivo" class="aviso"> (O usuário será {{usuario.ativo?'ATIVADO':'INATIVADO'}})</span>
				</md-checkbox>
				
			</div>
			<div layout="row" layout-align="space-between center">
				<md-input-container flex="45">
					<label>Senha</label>
					<input type="password" ng-model="usuario.senha1" ng-required="usuario.id == 0">
				</md-input-container>
				<md-input-container flex="45">
					<label>Confirme a Senha</label>
					<input type="password" ng-model="usuario.senha2" ng-required="usuario.id == 0">
				</md-input-container>
			</div>
		</div>
		<div layout="row" layout-align="space-between center" class="md-padding">
			<md-button class="md-raised md-accent" aria-label="Cancelar" ng-click="cancel()">Cancelar</md-button>
			<md-button class="md-raised md-primary" aria-label="Salvar" ng-click="salvarUsuario()" ng-disabled="form.$pristine || form.$invalid || usuario.senha1!=usuario.senha2">{{usuario.senha1!=usuario.senha2?"Confirme a senha corretamente":"Salvar"}}</md-button>
		</div>
	</div>
	<button type="submit" style="display: none"></button>
</form>