<div  id="usuario_container" class="bloco_conteudo bloco_central_80" md-whiteframe="1dp">
	<md-tabs md-dynamic-height md-border-bottom >
		<md-tab label="Dados">
			<form name="form" ng-submit="salvarUsuario()">
				<div md-whiteframe="1dp">
					<h1>Dados de {{ usuario.id==0 ? 'Novo Usuário' : usuario.nome}}</h1>
					<div layout="column" class="md-padding">
						<div layout="row" layout-align="space-between center">
							<md-input-container flex="20">
								<label>Nome</label>
								<input type="text" ng-model="usuario.nome" required>
							</md-input-container>
							<md-input-container flex="20">
								<label>E-mail</label>
								<input type="email" ng-model="usuario.email" required>
							</md-input-container>
							<md-input-container flex="20">
								<label>Login</label>
								<input type="text" ng-model="usuario.login" required>
							</md-input-container>
							<md-input-container flex="20">
								<label>Sigla</label>
								<input type="text" ng-model="usuario.sigla" maxlength="3" capitalize required>
							</md-input-container>
						</div>
						<div layout="row" layout-align="space-between center">
							<md-input-container flex="30">
								<label>Senha</label>
								<input type="password" ng-model="usuario.senha1" ng-required="usuario.id == 0">
							</md-input-container>
							<md-input-container flex="30">
								<label>Confirme a Senha</label>
								<input type="password" ng-model="usuario.senha2" ng-required="usuario.id == 0">
							</md-input-container>
							<md-checkbox class="md-primary" ng-model="usuario.ativo" aria-label="Usuário Ativo" flex="30">
								Ativo
								<span ng-if="usuario.ativo != inicialmenteAtivo" class="aviso"> (O usuário será {{usuario.ativo?'ATIVADO':'INATIVADO'}})</span>
							</md-checkbox>
						</div>
					</div>
					<div layout="row" layout-align="space-between center" class="md-padding">
						<md-button class="md-raised md-accent" aria-label="Cancelar" ng-click="cancel()">Cancelar</md-button>
						<md-button class="md-raised md-primary" aria-label="Salvar" ng-click="salvarUsuario()" ng-disabled="form.$pristine || form.$invalid || usuario.senha1!=usuario.senha2">{{usuario.senha1!=usuario.senha2?"Confirme a senha corretamente":"Salvar"}}</md-button>
					</div>
				</div>
				<button type="submit" style="display: none" ng-disabled="usuario.senha1!=usuario.senha2"></button>
			</form>			
		</md-tab>
		<md-tab label="Permissões" ng-disabled="usuario.id==0">
			<div class="permissoes_container" ng-controller="PermissoesController">
				<h1>Permissões de {{usuario.nome}}</h1>
				<div layout="row">
					<div class="telas_container" layout="column" flex="30" layout-align="space-between center">
						<div class="tela" ng-repeat="tela in telas|orderBy:'titulo'">
							<md-checkbox aria-label="Tela" class="md-primary" ng-model="tela.autorizada" ng-change="onTelaCheckChange($event,tela)">
								{{tela.titulo}}
							</md-checkbox>
							<md-button
								ng-if="tela.autorizada"
								class="md-icon-button"
								aria-label="Opções de tela"
								ng-click="onOpcoesClick($event,tela)">
									<md-icon
										class="material-icons step"
										aria-label="Opções de tela">settings</md-icon>
									<md-tooltip md-direction="top" md-autohide="true">
										Opções da tela {{tela.titulo}}
									</md-tooltip>
							</md-button>
						</div>
					</div>
					<div ng-if="telaSelecionada!=null" class="opcoesDeTela_container" layout="column" flex="70">
						<h1>Opções para a tela {{telaSelecionada.titulo}}</h1>
						<div class="opcao" ng-repeat="opcao in telaSelecionada.opcoes">
							<md-checkbox class="md-primary" aria-label="Opção de tela" ng-change="onOpcoesChange()" ng-model="opcao.autorizada">
								{{opcao.descricao}}
							</md-checkbox>
						</div>
						<div class="opcao" ng-if="telaSelecionada.opcoes.length==0">Esta tela {{telaSelecionada.titulo}} não possui opções.</div>
					</div>
				</div>
				<div class="controles" layout="row" layout-align="space-between center">
					<md-button ng-click="onRestaurarClick()" ng-disabled="!restaurarDisponivel" class="md-raised md-accent" aria-label="Cancelar Alterações">Restaurar valores iniciais</md-button>
					<md-button ng-click="onSalvarClick()" class="md-raised md-primary" aria-label="Salvar Telas">Salvar</md-button>
				</div>
			</div>
		</md-tab>
	</md-tabs>
</div>