#topo {
	height: 36px;
	background-color: #2196F3;
}

#abreMenu{
    background-image: url(../img/menu.png);
    display: inline-block;
    width: 16px;
    height: 13px;
    cursor: pointer;
    padding: 0 12px 4px 14px;
    background-repeat: no-repeat;
    background-position-x: 13px;

}

#logo{
	margin-top: 5px;
}

#container_horizontal{
	min-width: 800px;
	height: calc(100% - 36px);
}

nav {
	float: left;
	width: 45px;
	/*width: 186px;*/
	transition: width 0.3s;
	transition-timing-function: ease-out;
	height: 100%;
	background-color: #2B2B2B;
	overflow: hidden;
	position: relative;
}

nav a{
	display: block;
	text-decoration: none;
	color: #FFF;
	font-size: 16px;
	padding: 10px 0;
	text-indent: 45px;
	background-repeat: no-repeat;
    background-position: 6px 5px;
    width: 100%;
    white-space: nowrap;
}

nav a:hover{
	background-color: #296a9e;
}

nav .selected{
	border-left: solid 5px #2196F3;
	background-color: #296a9e;
	cursor: default;
	background-position: 1px 5px;
	text-indent: 40px;
}

nav .home{
	background-image: url(../img/icon_home.png);
}

nav .prj{
	background-image: url(../img/icon_projetos.png);
}

nav .usu{
	background-image: url(../img/icon_usuarios.png);
}

nav .doc{
	background-image: url(../img/icon_documentos.png);
}

nav .dsc{
	background-image: url(../img/icon_disciplinas.png);
}

nav .cal{
	background-image: url(../img/icon_calendario.png);
}

nav .cfg{
	background-image: url(../img/icon_configuracoes.png);
	position: absolute;
	bottom: 0;
}

#view_container{
	width: calc(100% - 45px);
	position: relative;
	transition: width 0.3s;
	transition-timing-function: ease-out;
	float: left;
	min-width: 755px;
}

#view {
	width: 100%;
	position: relative;
}

#afazer .feito{
	text-decoration: line-through;
	color: #AAA;
}

#ua{
	position: fixed;
    bottom: 1px;
    right: 2px;
    font-size: 12px;
    color: #999;
}

#lk_opcoes{
    background-image: url(../img/min-menu.png);
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 17px 11px;
}

#opcoes{
    background-color: #2196f3;
    position: absolute;
    top: -85px;
    /*top: 36px;*/
    right: 0;
    width: 200px;
    height: 90px;
    color: #FFF;
    transition: top 0.5s;
    transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}

#opcoes a{
	display: block;
	background-repeat: no-repeat;
	background-position: 5px 8px;
	text-indent: 36px;
	cursor: pointer;
	padding: 10px;
	text-decoration: none;
	color: #FFF;
}

#opcoes a:hover{
	background-color: rgba(255,255,255,0.3);
}

#opcoes .trocar_senha{
	background-image: url(../img/chpass.png);
	background-position: 5px 8px;
}

#opcoes .sair{
	background-image: url(../img/onoff.png);
	background-position: 8px 5px;
}

#senha_container .bt_cancelar{
    margin-left:15px
}

#senha_container .bt_salvar{
    position:absolute;
    right:15px;
    min-width: 100px;
    width: auto;
}

