<md-dialog class="cargo_dialog">
	<md-dialog-content  layout="column">
		<md-input-container>
			<label>Nome do Cargo</label>
			<input type="text" ng-model="cargo.nome">
		</md-input-container>

		<md-input-container>
			<label>Valor da HH</label>
			<input type="number" step="0.01" ng-model="cargo.valor_hh">
		</md-input-container>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button ng-click="cancelar(cargo)" class="md-raised md-accent" aria-label="Cancelar">Cancelar</md-button>
		<span flex></span>
		<md-button ng-click="salvar(cargo)" class="md-raised md-primary" aria-label="Salvar Cargo">Salvar Cargo</md-button>
	</md-dialog-actions>
</md-dialog>