#clientes_container{
    
    button {
        position: absolute;
        left: 0;
        top: 16px;
    }

    .lista{
        position: relative;
        top: 60px;
        column-count:3;
        column-gap:40px;

        .cliente{
            display: inline-block;
            width: 100%;
            margin-bottom: 20px;
            padding: 20px;
            text-decoration: none;
            margin-right:20px;
        }
    }
}