#cargos_container{
	padding: 20px;
}

.cargo_dialog{
	padding: 40px 20px 20px 20px;
}

.cargo_dialog md-dialog-content{
	overflow: hidden;
	padding: 16px 0 0 0;
}


.cargo_dialog md-dialog-actions{
	padding: 0;
}

.cargo_dialog md-dialog-actions button{
	margin: 0 !important;
}