.area_dialog{
	padding: 20px;
}

.area_dialog md-dialog-content{
	overflow: hidden;
	padding: 16px 0 0 0;
}

.area_dialog md-dialog-actions{
	padding: 0;
}

.area_dialog md-dialog-actions button{
	margin: 0 !important;
}