#subdisciplina_container .bt_adicionar{
	position: absolute;
	right: 15px;
	bottom:15px;
}

#subdisciplina_container{
	padding-bottom: 55px;
	margin-bottom: 50px;
}

#subdisciplina_container table td:nth-child(1),
#subdisciplina_container table td:nth-child(2),
#subdisciplina_container table td:nth-child(3){
	width: 20%;
}

#especialista_container .bt_adicionar{
	position: absolute;
	right: 15px;
	bottom:15px;
}

#especialista_container{
	padding-bottom: 55px;
	margin-bottom: 50px;
}

#especialista_container table td:nth-child(1),
#especialista_container table td:nth-child(2),
#especialista_container table td:nth-child(3){
	width: 20%;
}

#validador_container .bt_adicionar{
	position: absolute;
	right: 15px;
	bottom:15px;
}

#validador_container{
	padding-bottom: 55px;
	margin-bottom: 150px;
}

#validador_container table td:nth-child(1),
#validador_container table td:nth-child(2),
#validador_container table td:nth-child(3){
	width: 25%;
}

#validador_container table tr td:first-child select{
	width: 100%;
}

.sub_dialog{
	padding: 40px 20px 20px 20px;
	md-dialog-content {
		overflow: hidden;
		padding: 16px 0 0 0;
	}
	md-dialog-actions{
		padding: 0;
		button{
			margin: 0 !important;
		}
	}
}