#usuarios_container {

	md-input-container{
		margin-top: 40px;
	}
	
	.lista{
	
		column-count:3;
		column-gap:40px;

		.usuario{
			display: inline-block;
			width: calc(100% - 23px);
			margin-bottom: 20px;
			padding: 20px;
			text-decoration: none;
			margin-right:20px;
		}
	}
}

