#projetos_container{

	md-input-container{
		margin-top: 50px;
	}

	table{
		border-collapse: collapse;
		width:100%;
		margin-bottom: 50px;
		td {
			padding: 5px 30px;

			&:nth-child(1){
				width: 50px;
			}

			&:nth-child(4){
				width: 50px;
			}

			&:nth-child(5){
				width: 117px;
			}
		}

		

		thead{
			td{
				font-size: 14px;
				cursor: pointer;
				position: relative;
				md-icon{
					position: absolute;
					left:4px;
					top:3px;
				}
			}
			td:focus{
				outline: none;
			}
			td:nth-child(5){
				text-align:center;
			}

		}

		tbody{
			tr{
				cursor:pointer;
				td {
					border-top: 1px solid $cinzaClaro;
				}
				&:hover>td {
					background-color: #FFF;
				}
				&:focus{
					outline:none;
				}
			}
		}
	}

	.projetos {
		thead td {
			color:$azul;
		}
	}

	.historico {
		thead td {
			color:$cinza;
			padding:14px 30px;
		}

		background-color: $cinzaMaisClaro;
	}

	.aviso {
		color:$cinzaClaro;
		border-radius: 5px;
		text-align:center;
	}
}
