#grd_container{
	.controle_principal{
		padding: 20px 0px 20px 0;

		div:first-child{
			width: 160px;
		}
		
		md-fab-speed-dial {
		    position: absolute;
			top: 65px;
			right: 86px;
			width: 50px;
		}

		md-fab-speed-dial md-fab-actions{
			width:58px;
		}
	}

	.bottom_controls{
		margin:15px 0 0 0;
	}

	.dados{
		padding-top: 50px;
	}

	.documentos {

		padding: 0 0;

		.controles_documentos{
			padding: 2px 5px 2px 10px !important;
		}

		.doc{
			padding: 5px 10px;
			border-bottom:1px solid #DDD;

			.controles_de_doc {
				.ptot{
					font-size: 12px;
					text-align: center;
					border: 1px solid #999;
					border: none;
					background-color: #DDD;
					color: #666;
					padding: 1px 6px 0px 6px;
					border-radius: 2px;
					margin-right: 4px;
					display: inline-block;
					text-align: center;
					cursor: default;
				}
				.ptot:focus{
					outline:none;
				}
				.clickable{
					cursor:pointer;
					background-color: $azul;
					color:#FFF;	
				}
				button {
					margin: 0;
					padding: 0;
				}
			}
		}

		.controles_documentos{
			padding: 10px 5px 10px 0px;
			height:72px;
			border-bottom:1px solid #DDD;
			input{
				border: none;
				padding: 15px 5px;
				background-color: transparent;
				width:calc(100% - 50px);
				font-size: 16px;
				&:focus{
					border: none;
					outline: none;
				}
			}
		}

		md-checkbox {
			margin: 0;
			span{
				font-size: 12px;
				position: relative;
				top: -2px;
			}
		}

	}

	md-input-container{
		margin: 10px 10px;
	}
}

.grddoc_dialog{
	width: 600px;
	padding: 20px;
}

.enviarEmail_dialog{
	padding: 20px;
	width: 400px;
	.container_assunto_msg{
		width: 98%;
	}

	.md-errors-spacer{
		min-height: 5px;
	}
}