#projetos_container{

	md-input-container{
		margin-top: 50px;
	}

	table{
		border-collapse: collapse;
		td {
			padding: 5px 20px;
		}
		thead{
			td{
				color:$azul;
				font-size: 14px;
			}	
		}

		tbody{
			td{
				border-top: 1px solid #CCC;
			}
			tr:hover>td{
				background-color: #FFF;
				cursor: default;
			}
		}
	}
}
