#addprojeto_container .bt_salvar{
	position: absolute;
	right: 15px;
	bottom:15px;
}

#addprojeto_container .bt_cancelar{
	margin-left: 15px;
}

#addprojeto_dao_container md-input-container{
	position: relative;
	top:20px;
}

#addprojeto_areas_container {
	padding-bottom: 56px
}

#addprojeto_areas_container .bt_adicionar{
	position: absolute;
	right: 15px;
	bottom: 15px;
}

#addprojeto_areas_container table input[type=text]{
	width: 100%;
}

#addprojeto_documentos_container {
	padding-bottom: 56px;
	margin-bottom: 180px;
}

#addprojeto_documentos_container table>tr>td>span{
	display: block;
	color:#CCC;
	font-size: 12px;
}

#addprojeto_documentos_container .bt_adicionar{
	position: absolute;
	right:15px;
	bottom: 15px;
}
#form_daos > div.alertaDeTamanho{
	text-align:center;
	color:$laranja;
	margin-bottom: 10px;
}
md-expansion-panel-collapsed{
	cursor: pointer;
	.md-expansion-panel-item{
		margin:25px 10px 25px 0;
		.label{
			color: #bcbcbc;
			font-size: 12px;
			line-height: 20px;
			height: 20px;
		}
		.value{
			font-size: 14px;
			height:24px;
			line-height:24px;
		}
	}
}

md-expansion-panel-expanded {
	.md-expansion-panel-item{
		margin:25px 40px 10px 0;
		float:left;
		.label{
			color: #bcbcbc;
			font-size: 12px;
			line-height: 20px;
			height: 20px;
		}
		.value{
			font-size: 14px;
			height:24px;
			line-height:24px;
		}
	}
}

#daosRegistradas_container{
	table {
		td:last-child{
			text-align: right;
		}
	}
}