
#addprojeto_dao_container md-input-container{
	position: relative;
	top:20px;
}

#addprojeto_areas_container {
	padding-bottom: 56px
}

#addprojeto_areas_container .bt_adicionar{
	position: absolute;
	right: 15px;
	bottom: 15px;
}

#addprojeto_areas_container table input[type=text]{
	width: 100%;
}

#form_daos > div.alertaDeTamanho{
	text-align:center;
	color:$laranja;
	margin-bottom: 10px;
}
md-expansion-panel-collapsed{
	cursor: pointer;
	.md-expansion-panel-item{
		margin:25px 10px 25px 0;
		.label{
			color: #bcbcbc;
			font-size: 12px;
			line-height: 20px;
			height: 20px;
		}
		.value{
			font-size: 14px;
			height:24px;
			line-height:24px;
		}
	}
}

md-expansion-panel-expanded {
	.md-expansion-panel-item{
		margin:25px 40px 10px 0;
		float:left;
		.label{
			color: #bcbcbc;
			font-size: 12px;
			line-height: 20px;
			height: 20px;
		}
		.value{
			font-size: 14px;
			height:24px;
			line-height:24px;
		}
	}
}

#daosRegistradas_container{
	table {
		td:last-child{
			text-align: right;
		}
	}
}

#addprojeto_documentos_container {
	.lista_de_docs{

		td:nth-child(2){
			width: 160px;
		}
		td:nth-child(3){
			width: 80px;
		}
		td:nth-child(4){
			width: 80px;
		}
		td:nth-child(5){
			width: 175px;
		}

		thead {
			td {
				font-size: 14px;
				padding-bottom: 5px;
			}
		}

		.codigo{
			font-size:18px;
		}
		.codigo, .subdisciplina, .area {
			display:block;
		}
		.nome,.disciplina,.subarea{
			font-size:12px;
		}
		tbody .impar td{
			border-top: 1px solid $cinza;
			border-bottom: none !important;
		}
		tbody .par td{
			border-top: none;
		}
	}
}