#projetos_container{

	md-input-container{
		margin-top: 50px;
	}

	table{
		border-collapse: collapse;
		width:100%;
		td {
			padding: 5px 30px;
		}
		thead{
			td{
				color:$azul;
				font-size: 14px;
				cursor: pointer;
				position: relative;
				md-icon{
					position: absolute;
					left:4px;
					top:3px;
				}
			}
			td:focus{
				outline: none;
			}

		}

		tbody{
			tr{
				cursor:pointer;
				td {
					border-top: 1px solid $cinzaClaro;
				}
				&:hover>td {
					background-color: #FFF;
				}
				&:focus{
					outline:none;
				}
			}
		}
	}
}
