#clientes_container{
    md-input-container {
        margin-top: 50px;
    }
    .lista{
        column-count:3;
        column-gap:40px;

        .cliente{
            display: inline-block;
            width: calc(100% - 23px);
            margin-bottom: 20px;
            padding: 20px;
            text-decoration: none;
            margin-right:20px;
        }
    }
}