#topo {
	height: 36px;
	background-color: $azul;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

#abreMenu{
    background-image: url(../img/menu.png);
    display: inline-block;
    width: 16px;
    height: 13px;
    cursor: pointer;
    padding: 0 12px 4px 14px;
    background-repeat: no-repeat;
    background-position-x: 13px;

}

#logo{
	margin: 6px;
}

#container_horizontal{
	position: fixed;
	top: 36px;
	left: 0;
	min-width: 800px;
	height: calc(100% - 36px);
	width: 100%;
	overflow: auto;
}

#view {
	width: 100%;
	position: relative;
}

#ua{
	position: fixed;
	bottom: 0px;
	font-size: 12px;
	color: #BBB;
	padding: 2px 2px 2px 3px;
	background-color: #EAEAEA;
	right: 20px;
}

#lk_opcoes{
    background-image: url(../img/min-menu.png);
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 17px 11px;
}

#opcoes{
    background-color: $azul;
    position: absolute;
    top: -85px;
    /*top: 36px;*/
    right: 0;
    width: 200px;
    height: 90px;
    color: #FFF;
    transition: top 0.5s;
    transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}

#opcoes a{
	display: block;
	background-repeat: no-repeat;
	background-position: 5px 8px;
	text-indent: 36px;
	cursor: pointer;
	padding: 10px;
	text-decoration: none;
	color: #FFF;
}

#opcoes a:hover{
	background-color: rgba(255,255,255,0.3);
}

#opcoes .trocar_senha{
	background-image: url(../img/chpass.png);
	background-position: 5px 8px;
}

#opcoes .sair{
	background-image: url(../img/onoff.png);
	background-position: 8px 5px;
}

#carregando {
	background-color: rgba(255, 255, 255, 0.70);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.carregando-show-hide {
  transition: opacity linear 0.3s;
}
.carregando-show-hide.ng-hide {
  opacity: 0;
}

.md-raised md-icon{
	margin:0 10px 0 3px;
}

#selfdata {
	background-color: rgba(250,250,250,0.8);
	position:fixed;
	bottom:0;
	right:20px;
	padding:5px;
	color:#000;
	font-size:12px;
	line-height:12px;
	color: rgba(0,0,0,0.5);
	z-index:30;
}