<div ng-class="{'avisa_resultado_50':true,'positivo':ok,'negativo':!ok}" ng-show="obteve_resposta">{{msg}}</div>
<form name="form_projetoInfo" novalidate>
	<div id="addprojeto_container" class="bloco_conteudo bloco_central_80">
		<h1><img src="img/projeto.png">Dados {{ (projeto.id == 0 || projeto.id==undefinded) ? "do Novo Projeto" : "do Projeto " + projeto.nome}}</h1>
		<div>
			<div class="item">
				<label for="nome">Nome:</label>
				<input type="text" placeholder="Dê um nome para o projeto" ng-model="projeto.nome" required>
			</div>
			<div class="item">
				<label for="codigo">Codigo:</label>
				<input type="text" placeholder="Digite um código identificador para o projeto" ng-model="projeto.codigo" required>
			</div>
			<div class="item">
				<label for="sigla">Cliente:</label>
				<select name="sel_cliente" ng-options="option.nome for option in clientes.dados track by option.id" ng-model="clientes.selecionado"></select>
			</div>
			<div class="item">
				<label for="sigla">Responsável:</label>
				<select name="sel_responsavel" ng-options="option.nome for option in usuarios.dados track by option.id" ng-model="usuarios.selecionado"></select>
			</div>
			<div class="item">
				<label for="data_inicio_p">Início (previsto):</label>
				<input type="text" id="data_inicio_p" pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" placeholder="Selecione uma data para início previsto" ng-model="projeto.data_inicio_p" required>
			</div>
			<div class="item">
				<label for="data_final_p">Final (previsto):</label>
				<input type="text" id="data_final_p" pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" placeholder="Selecione uma data prevista para o final" ng-model="projeto.data_final_p" required>
			</div>
			<div class="item">
				<label for="ativo">Ativo:</label>
				<input type="checkbox" id="ativo" ng-model="projeto.ativo">
				<span ng-if="projeto.ativo != inicialmenteAtivo" class="aviso">O projeto será {{projeto.ativo?'ATIVADO':'INATIVADO'}}</span>
			</div>
		</div>
		<button class="bt_cancelar" ng-click="cancel()">Cancelar</button>
		<button	class="bt_salvar" ng-click="salvarProjeto()" ng-disabled="form_projetoInfo.$pristine || clientes.selecionado.id==0 || usuarios.selecionado.id==0 || !form_projetoInfo.$valid">Salvar</button>
	</div>
</form>

<div ng-if="projeto.id!=0" id="addprojeto_areas_container" class="bloco_conteudo bloco_central_80">
	<h1>Áreas de {{projeto.nome}}</h1>
	<table>
		<thead>
			<tr>
				<td>Cód. da Área</td>
				<td>Nome da Área</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="area in projeto.areas track by $index">
				<!-- Campo de código -->
				<td ng-if="area.id!=areaEditada.id">{{area.codigo}}</td>
				<td ng-if="area.id==areaEditada.id"><input type="text" ng-model="areaEditada.codigo" id="codigo_area_{{area.id}}"></td>
				
				<!-- Campo de nome -->
				<td ng-if="area.id!=areaEditada.id">{{area.nome}}</td>
				<td ng-if="area.id==areaEditada.id"><input type="text" ng-model="areaEditada.nome" id="nome_area_{{area.id}}"></td>
				
				<!-- Botões-->
				<td>
					<!-- em modo normal: Botão de remover e alterar -->
					<button ng-if="area.id!=areaEditada.id" class="bt_cancelar" ng-click="removerArea(area.id)">Remover</button>
					<button ng-if="area.id!=areaEditada.id" class="bt_alterar" ng-click="editarArea(area.id)">Alterar</button>

					<!-- em modo edição: Botões de salvar e cancelar -->
					<button ng-if="area.id==areaEditada.id" class="bt_limpo" ng-click="cancelarAlteracoesEmArea(area.id)">Cancelar</button>
					<button ng-if="area.id==areaEditada.id" class="bt_salvar" ng-click="salvarArea(area.id)">Salvar</button>
				</td>
			</tr>
		</tbody>
	</table>
	<button class="bt_adicionar" ng-click="editarArea(0)" ng-disabled="areaEditada.id==0">+ Adicionar Área</button>
</div>

<div ng-if="projeto.id!=0" id="addprojeto_dao_container" class="bloco_conteudo bloco_central_80">
	<h1>Documentos de Abertura de Operações</h1>
	<form id="form_daos" name="form_daos" novalidate>
		<button ngf-select ngf-multiple="true" ng-model="daoFiles" class="bt_upload">Selecione Documentos de Abertura de Operções ...</button>
		<table ng-if="daoFiles.length>0">
			<thead>
				<tr>
					<td>Nome do Documento</td>
					<td>Arquivo</td>
					<td></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="file in daoFiles" id="tr_{{file.name}}">
					<td><input type="text" name="daoName_{{$index}}" ng-model="daoNames[$index]" required></td>
					<td>{{file.name}}</td>
					<td>{{errosNoUploadDeDaos[$index]}}</td>
					<td><button class="bt_cancelar" ng-click="removerDaoFile(file.name)">Remover</button></td>
				</tr>
			</tbody>
		</table>
		<div ng-if="mostrarProgressoUploadDaos" class="progress_bar">
			<div style="width:{{progress}}%">
				<span>{{progress}}%</span>	
			</div>
		</div>
		<button	class="bt_salvar" ng-click="salvarDAOs(daoFiles)" ng-if="daoFiles.length>0" ng-disabled="daoFiles.length==0 || !form_daos.$valid">Salvar Documentos de Abertura de Operações</button>
	</form>
	
	
	<div class="sub_bloco">
		<h3>Já registrados</h3>
		<table>
			<thead>
				<tr>
					<td>Nome</td>
					<td>Arquivo</td>
					<td>Tipo</td>
					<td>Tamanho</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="dao in projeto.daos">
					<td>{{dao.nome}}</td>
					<td>{{dao.nome_cliente}}</td>
					<td>{{dao.tipo}}</td>
					<td>{{dao.tamanho}}</td>
					<td><button class="bt_cancelar" ng-click="removerDAO(dao.id)">Remover</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div ng-if="projeto.id!=0" id="addprojeto_documentos_container" class="bloco_conteudo bloco_central_80">
	<h1>Documentos</h1>
	<table>
		<thead>
			<tr>
				<td>Nome</td>
				<td>Subdisciplina</td>
				<td>Área</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="doc in projeto.documentos">
				<!-- Campo de nome -->
				<td ng-if="doc.id != documentoEditado.id">{{doc.nome}}</td>
				<td ng-if="doc.id == documentoEditado.id"><input type="text" id="nome_documento_{{documentoEditado.id}}" ng-model="documentoEditado.nome"></td>

				<!-- campo de subdisciplina -->
				<td ng-if="doc.id != documentoEditado.id">{{doc.nome_subdisciplina}}<span>{{doc.nome_disciplina}}</span></td>
				<td ng-if="doc.id == documentoEditado.id"><select ng-model="subSelecionada" ng-options="option.nome group by option.nome_disciplina for option in subdisciplinas"></select></td>

				<td>{{doc.nome_area}}</td>
				<td>
					<button class="bt_alterar" ng-click="editarDocumento(doc.id)">Alterar</button>
					<button class="bt_cancelar">Remover</button>
				</td>
			</tr>
	</table>
	<button class="bt_adicionar" ng-click="editarDocumento(0)" ng-disabled="documentoEditado.id==0">+ Adicionar Documento</button>
	{{subSelecionada|json}}
</div>

<script>
	$( function() {
		$( "#data_inicio_p" ).datepicker(datePickerOptions);
		$( "#data_final_p" ).datepicker(datePickerOptions);
	} );
</script>