<div id="projetos_container" class="container_80">
	<div layout="row" layout-align="space-between center">
		<md-button ng-click="goToAddProjeto()" class="md-raised md-primary" aria-label="Cadastrar Novo Projeto">Cadastrar Novo Projeto</md-button>
		<md-input-container>
			<label>Buscar Projeto</label>
			<md-icon class="material-icons step" aria-label="Buscar Projeto">search</md-icon>
			<input type="text" ng-model="q.nome" placeholder="Digite">
		</md-input-container>
	</div>
	
	<div class="lista">
		<span ng-if="projetos.length == 0">Não existe nenhum projeto cadastrado.</span>
		<a ng-repeat="p in projetos|filter:q|orderBy:'nome'" href="#/projetos/{{p.id}}" class="bloco_conteudo projeto" md-whiteframe="1dp">
			<h2>{{p.nome}}</h2>
			<h3>{{p.codigo}}</h3>
		</a>
	</div>
</div>