<form name="form" ng-submit="salvarCliente()">
	<div id="cliente_container" class="bloco_conteudo bloco_central_50" md-whiteframe="1dp">
		<h1>Dados de {{ cliente.id==0 ? 'Novo Cliente' : cliente.nome}}</h1>
		<div class="md-padding" layout="column">
			<div layout="row" layout-align="space-between start">
				<md-input-container flex="45">
					<label>Nome</label>
					<input type="text" ng-model="cliente.nome" required>
				</md-input-container>
				<md-input-container  flex="45">
					<label>Nome Fantasia</label>
					<input type="text" ng-model="cliente.nome_fantasia" required>
				</md-input-container>
			</div>
			
			<div layout="row" layout-align="space-between start">
				<md-input-container flex="45">
					<label>Tipo</label>
					<md-select ng-model="cliente.tipo"  ng-change="onTipoChange()">
					  <md-option ng-value="1">Pessoa Jurídica</md-option>
					  <md-option ng-value="2">Pessoa Física</md-option>
					</md-select>
				</md-input-container>
				<md-input-container  flex="45" ng-if="cliente.tipo=='1'">
					<label>CNPJ</label>
					<input type="text" placeholder="" ng-model="cliente.cnpj" ui-mask="99.999.999/9999-99" ui-mask-placeholder-char="#" ng-required="cliente.tipo=='1'" model-view-value="true">
				</md-input-container>
				<md-input-container  flex="45" ng-if="cliente.tipo=='2'">
					<label>CPF</label>
					<input type="text" placeholder="" ng-model="cliente.cpf"  ui-mask="999.999.999-99" ui-mask-placeholder-char="#" ng-required="cliente.tipo=='2'" model-view-value="true">
				</md-input-container>
			</div>

			<div layout="row" layout-align="space-between start">
				<md-input-container flex="30">
					<label>Nome do Contato</label>
					<input type="text" ng-model="cliente.contato_nome" required>
				</md-input-container>
				<md-input-container  flex="30">
					<label>E-mail do Contato</label>
					<input type="email" ng-model="cliente.contato_email" required>
				</md-input-container>
				<md-input-container flex="30">
					<label>Telefone do Contato</label>
					<input type="text" ng-model="cliente.contato_telefone" required>
				</md-input-container>
			</div>

			<div layout="row" layout-align="space-between start">
				<md-input-container flex="30">
					<label>Login</label>
					<input type="text" ng-model="cliente.login">
				</md-input-container>
				<md-input-container  flex="30">
					<label>Senha</label>
					<input type="password" ng-model="cliente.senha1">
				</md-input-container>
				<md-input-container flex="30">
					<label>Confirmação de Senha</label>
					<input type="password" ng-model="cliente.senha2">
				</md-input-container>
			</div>

			<div layout="row" layout-align="space-between start">
				<md-input-container flex="100">
					<label>Endereço</label>
					<input type="text" ng-model="cliente.endereco"  md-maxlength="256" maxlength="256">
				</md-input-container>
			</div>

			<div layout="row" layout-align="space-between start">
				<md-input-container flex="30">
					<label>Endereço FTP</label>
					<input type="text" ng-model="cliente.ftp_host">
				</md-input-container>
				<md-input-container  flex="30">
					<label>Usuário do FTP</label>
					<input type="text" ng-model="cliente.ftp_usuario">
				</md-input-container>
				<md-input-container flex="30">
					<label>Senha do FTP</label>
					<input type="password" ng-model="cliente.ftp_senha">
				</md-input-container>
			</div>
			
			<div layout="row" layout-align="space-between start">
				<md-button class="md-raised md-accent"  ng-click="cancel()" aria-label="Cancelar">Cancelar</md-button>
				<md-button class="md-raised md-primary" ng-click="salvarCliente()" aria-label="Salvar" ng-disabled="form.$pristine || form.$invalid || cliente.senha1!=cliente.senha2">{{cliente.senha1!=cliente.senha2?'Senhas não confirmada':'Salvar'}}</md-button>
			</div>
		</div>
	</div>
	<button type="submit" style="display: none"></button>
</form>