<div class="bloco_conteudo dpv" id="id_{{dpv.id}}" click-outside="escondeFormDeValidacao()" md-whiteframe="1dp">
	<h2>{{dpv.nome}}</h2>
	<h3>{{dpv.nome_projeto}}</h3>
	<h3>{{dpv.nome_subdisciplina}}[{{dpv.nome_disciplina}}]</h3>
	<h3>{{dpv.nome_area}}</h3>
	<div class="controles">
		<a class="download_file" ng-click="downloadFile(dpv.progressos[dpv.progressos.length - 1].id)"></a>
		<a class="valida_progresso" ng-click="mostraFormDeValidacao()"></a>
		<a class="mostra_historico" ng-click="mostrandoHistorico = !mostrandoHistorico"></a>
	</div>
	<h3 class="data_limite">Data Limite: {{dpv.data_limite|date:'dd/MM/yyyy':'+0000'}}</h3>
	<h3 class="dias_restantes">{{dpv.data_limite|daysFromNow}}</h3>
	<div class="progresso">
		<span class="validado">{{dpv.progressoValidado}}%</span>
		<span class="aValidar">{{dpv.progressoAValidar}}%</span>
	</div>
	<div class="hbar">
		<div ng-if="dpv.progressoValidado>0"
			class="prgValidado"
			style="width: calc({{dpv.progressoValidado|number}}% - 2px)">
			{{dpv.progressoValidado|number}}%
		</div
		><div ng-if="dpv.progressoAValidar>0"
			class="prgAValidar"
			style="width: calc({{dpv.progressoAValidar|number}}% - 2px)">
			{{dpv.progressoAValidar|number}}%
		</div>
	</div>
	<div class="ultima_atualizacao">Ultima Atualização: {{dpv.progressos[dpv.progressos.length -1].data|date:"dd/MM/yyyy à's' hh:mm":'+0000'}} por {{dpv.progressos[dpv.progressos.length -1].usuario.nome}}</div>
	<div class="historico" ng-style="mostrandoHistorico?{'max-height':'600px'}:{'max-height':0}">
		<div>Progresso</div>
		<div class="historico-item" ng-repeat="prg in dpv.progressos">
			<div class="hbar" ng-if="!$last">
				<div ng-if="prg.progresso_total>0"
					class="prgValidado"
					style="width: calc({{prg.progresso_total|number}}% - 2px)">
					{{prg.progresso_total|number}}%
				</div>	
			</div><div class="hbar" ng-if="$last">
				<div ng-if="dpv.progressoValidado>0"
					class="prgValidado"
					style="width: calc({{dpv.progressoValidado|number}}% - 2px)">
					{{dpv.progressoValidado|number}}%
				</div
				><div ng-if="dpv.progressoAValidar>0"
					class="prgAValidar"
					style="width: calc({{dpv.progressoAValidar|number}}% - 2px)">
					{{dpv.progressoAValidar|number}}%
				</div>	
			</div><span
			>{{prg.data|date:"dd/MM/yyyy à's' hh:mm"}}</span
			><a class="download_file" ng-click="downloadFile(prg.id)"></a>
		</div>
	</div>
	<div class="formValidadorContainer" ng-show="mostrandoFormDeValidacao">
		<span class="bt" ng-click="escondeFormDeValidacao()"></span>
		<div class="form">
			Validar <input type="number" ng-model="progresso" min="0" max="{{100 - dpv.progressoValidado}}">  % de progresso.<br>
			Progresso total de {{dpv.progressoValidado + progresso}}%
			<button class="bt_limpo bt_cancelar_progresso" ng-click="escondeFormDeValidacao()">Cancelar</button>
			<button class="bt_limpo bt_validar_progresso" ng-click="validarProgresso()">Validar</button>
		</div>
	</div>
</div>