<md-content id="lista_de_documentos_container" class="container_80" layout-padding layout-wrap>
    
	<div layout="row" layout-align="space-between start">
		<div layout="column" flex="45">
			<md-input-container>
				<label>Busca</label>
				<input focus autocomplete="off" type="text" ng-model="busca.nome" placeholder="Digite o nome ou codigo do documento...">
			</md-input-container>
			<div layout="row" layout-align="space-between start">
				<md-input-container flex>
					<label>Ordenar Por</label>
					<md-select ng-model="busca.ordem">
					  <md-option ng-value="'nome'">Nome</md-option>
					  <md-option ng-value="'data_limite'">Data Limite</md-option>
					</md-select>
				</md-input-container>
				<md-button ng-click="buscarDocumentos()" style="width: 250px; left:5px; position: relative;top: 7px" class="md-raised md-primary" aria-label="Buscar Documento"><md-icon class="material-icons step" aria-label="Buscar Documento">search</md-icon> Buscar Documento</md-button>
			</div>
			<div layout="row" layout-align="space-between start">
				<md-input-container flex="45">
					<label>Completude</label>
					<md-select ng-model="busca.completude">
					  <md-option ng-value="1">Somente os por concluir</md-option>
					  <md-option ng-value="2">Somente os concluídos</md-option>
					  <md-option ng-value="3">Todos - Concluídos ou não</md-option>
					</md-select>
				</md-input-container>
				<md-input-container flex="45">
					<label>Validação</label>
					<md-select ng-model="busca.validacao">
					  <md-option ng-value="1">... com progresso a validar</md-option>
					  <md-option ng-value="2">... validados</md-option>
					  <md-option ng-value="3">... qualquer situação</md-option>
					</md-select>
				</md-input-container>
			</div>
		</div>
		<div layout="column" flex="45">
			<div layout="row" layout-align="space-between center">
				<md-input-container flex="45">
					<label>Cliente</label>
					<md-select ng-model="busca.id_cliente" ng-change="onClienteChange()">
					  <md-option ng-value="undefined">Todos os Clientes</md-option>
					  <md-option ng-value="c.id" ng-repeat="c in clientes|orderBy:'nome'">{{ c.nome }}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container flex="45">
					<label>Projeto</label>
					<md-select ng-model="busca.id_projeto" ng-change="onProjetoChange()">
					  <md-option ng-value="undefined">Todos os Projetos</md-option>
					  <md-option ng-value="p.id" ng-repeat="p in projetos|orderBy:'nome'">{{ p.nome }}</md-option>
					</md-select>
				</md-input-container>
			</div>

			<div layout="row" layout-align="space-between center">
				<md-input-container flex="45">
					<label>Área</label>
					<md-select ng-model="busca.id_area" ng-change="onAreaChange()">
					  <md-option ng-value="undefined">Todas as Áreas</md-option>
					  <md-option ng-value="a.id" ng-repeat="a in areas">{{ a.nome }}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container flex="45">
					<label>Sub-área</label>
					<md-select ng-model="busca.id_subarea">
					  <md-option ng-value="undefined">Todas as Sub-áreas</md-option>
					  <md-option ng-value="s.id" ng-repeat="s in subareas">{{ s.nome }}</md-option>
					</md-select>
				</md-input-container>	
			</div>

			<div layout="row"  layout-align="space-between center">
				<md-input-container flex="45">
					<label>Disciplina</label>
					<md-select ng-model="busca.id_disciplina" ng-change="onDisciplinaChange()">
					  <md-option ng-value="undefined">Todas as Disciplinas</md-option>
					  <md-option ng-value="d.id" ng-repeat="d in disciplinas">{{ d.nome }}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container flex="45">
					<label>Subdisciplinas</label>
					<md-select ng-model="busca.id_subdisciplina">
					  <md-option ng-value="undefined">Todas as Subdisciplinas</md-option>
					  <md-option ng-value="sub.id" ng-repeat="sub in subdisciplinas">{{ sub.nome }}</md-option>
					</md-select>
				</md-input-container>	
			</div>
		</div>
		
	</div>

	<md-content>
		<div class="paginacao" layout="row" flex="none" ng-if="totPaginas>1">
			<md-button
				class="md-icon md-mini"
				ng-disabled="busca.pagAtual==1"
				ng-click="onFirstPageClick()">
				<md-icon class="material-icons step" aria-label="">skip_previous</md-icon>
			</md-button>
			
			<md-button
				class="md-icon md-mini"
				class="material-icons step"
				aria-label=""
				ng-disabled="busca.pagAtual==1"
				ng-click="onPreviousPageClick()">
					<md-icon>fast_rewind</md-icon>
			</md-button>
			
			<md-button
				class="md-icon md-mini"
				ng-disabled="true"><md-icon class="material-icons step" aria-label="">more_horiz</md-icon>
			</md-button>

			<md-button
				class="md-icon md-mini"
				ng-disabled="busca.pagAtual==1"
				ng-click="onPreviousPageClick()">{{busca.pagAtual==1?'':busca.pagAtual-1}}
			</md-button>

			<md-button
				class="md-icon md-mini selected"
				ng-disabled="true">{{busca.pagAtual}}
			</md-button>

			<md-button
				class="md-icon md-mini"
				ng-disabled="busca.pagAtual==totPaginas"
				ng-click="onNextPageClick()">{{busca.pagAtual==totPaginas?'':busca.pagAtual+1}}
			</md-button>
			
			<md-button
				class="md-icon md-mini"
				ng-disabled="true">
					<md-icon class="material-icons step" aria-label="">more_horiz</md-icon>
			</md-button>

			<md-button
				class="md-icon md-mini"
				ng-disabled="busca.pagAtual==nPaginas"
				ng-click="onNextPageClick()">
					<md-icon class="material-icons step" aria-label="">fast_forward</md-icon>
			</md-button>

			<md-button
				class="md-icon md-mini"
				ng-disabled="busca.pagAtual==nPaginas"
				ng-click="onLastPageClick()">
					<md-icon class="material-icons step" aria-label="">skip_next</md-icon>
			</md-button>
		</div>
				
		<div class="md-whiteframe-2dp docCard" layout="column" ng-repeat="doc in documentos track by doc.id">
			<div layout="row">
				<div class="titulo" flex md-colors="{color:'primary'}">{{doc.nome}}</div>
				<md-button ng-click="onOpenClick(doc.id)" class="md-icon-button md-primary" aria-label="Visualizar Documento">
					<md-icon class="material-icons step" aria-label="Visualizar Documento">open_in_new</md-icon>
				</md-button>
			</div>
			<table class="info">
				<tbody>
					<tr>
						<td colspan="2">Cliente: {{doc.cliente_nome}}</td>
						<td colspan="2">Projeto: {{doc.projeto_nome}}</td>
					</tr>
					<tr>
						<td colspan="2">Área: {{doc.area_nome}}</td>
						<td colspan="2">Sub-área: {{doc.subarea_nome}}</td>
					</tr>
					<tr>
					</tr>
					<tr>
						<td colspan="4">Disciplina: {{doc.disciplina_nome}}</td>
					</tr>
					<tr>
						<td colspan="4">Subdisciplina: {{doc.subdisciplina_nome}}</td>
					</tr>
					<tr>
						
						<td>Data Limite: {{doc.data_limite==null?"Não há":(doc.data_limite|date:'dd/MM/yyyy')}}</td>
						<td>{{doc.data_limite|daysFromNow}}</td>
						<td>Revisão: {{doc.revisao_serial==null?0:doc.revisao_serial}}</td>
						<td><span md-colors={color:'orange-800'}>{{(doc.data_limite < agora && doc.data_limite !=null) ? 'Atrasado' : ''}}</span></td>
					</tr>

				</tbody>
			</table>
			<div>
				<div class="progresso">
					<span class="validado">{{doc.progresso_validado}}%</span>
					<span class="aValidar" ng-if="doc.progresso_a_validar>0">{{doc.progresso_a_validar}}%</span>
				</div>
				<div class="hbar">
					<div ng-if="doc.progresso_validado>0"
						class="prgValidado"
						style="width: calc({{doc.progresso_validado}}% - 2px)">
						{{doc.progresso_validado}}%
					</div
					><div ng-if="doc.progresso_a_validar>0"
						class="prgAValidar"
						style="width: calc({{doc.progresso_a_validar}}% - 2px)">
						{{doc.progresso_a_validar}}%
					</div>
				</div>
			</div>
			<div class="ua">{{doc.ua==null ? 'Documento nunca foi atualizado.' : (doc.ua|date:"Últi'ma' Atu'al'iz'a'ção: dd/MM/yyyy à's' HH:mm:ss")}}</div>
		</div>

		<div class="paginacao" layout="row" flex="none" ng-if="totPaginas>1">
			<md-button
				class="md-icon md-mini"
				ng-disabled="busca.pagAtual==1"
				ng-click="onFirstPageClick()">
				<md-icon class="material-icons step" aria-label="">skip_previous</md-icon>
			</md-button>
			
			<md-button
				class="md-icon md-mini"
				class="material-icons step"
				aria-label=""
				ng-disabled="busca.pagAtual==1"
				ng-click="onPreviousPageClick()">
					<md-icon>fast_rewind</md-icon>
			</md-button>
			
			<md-button
				class="md-icon md-mini"
				ng-disabled="true"><md-icon class="material-icons step" aria-label="">more_horiz</md-icon>
			</md-button>

			<md-button
				class="md-icon md-mini"
				ng-disabled="busca.pagAtual==1"
				ng-click="onPreviousPageClick()">{{busca.pagAtual==1?'':busca.pagAtual-1}}
			</md-button>

			<md-button
				class="md-icon md-mini selected"
				ng-disabled="true">{{busca.pagAtual}}
			</md-button>

			<md-button
				class="md-icon md-mini"
				ng-disabled="busca.pagAtual==totPaginas"
				ng-click="onNextPageClick()">{{busca.pagAtual==totPaginas?'':busca.pagAtual+1}}
			</md-button>
			
			<md-button
				class="md-icon md-mini"
				ng-disabled="true">
					<md-icon class="material-icons step" aria-label="">more_horiz</md-icon>
			</md-button>

			<md-button
				class="md-icon md-mini"
				ng-disabled="busca.pagAtual==nPaginas"
				ng-click="onNextPageClick()">
					<md-icon class="material-icons step" aria-label="">fast_forward</md-icon>
			</md-button>

			<md-button
				class="md-icon md-mini"
				ng-disabled="busca.pagAtual==nPaginas"
				ng-click="onLastPageClick()">
					<md-icon class="material-icons step" aria-label="">skip_next</md-icon>
			</md-button>
		</div>
	</md-content>
</md-content>