<div ng-class="{'bloco_conteudo':true, 'doc':true, 'locked':(doc.idu_checkout!=null)}" id="id_{{doc.id}}" click-outside="escondeFormDeValidacao()">
	<h2>{{doc.nome}}</h2>
	<h3>{{doc.nome_projeto}}</h3>
	<h3>{{doc.nome_subdisciplina}}[{{doc.nome_disciplina}}]</h3>
	<h3>{{doc.nome_area}}</h3>

	<div class="controles">
		<!-- Botão de upload -->
		<button ng-if="doc.idu_checkout==null && doc.progressoAValidar==0" class="upload_file" ng-click="mostraFormDeUpload()"></button>
		
		<!-- Botão de download -->
		<button ng-if="doc.idu_checkout==null && doc.progressos.length>0" class="download_file" ng-click="downloadFile(doc.progressos[doc.progressos.length - 1].id,true) "></button>
		<button ng-if="doc.idu_checkout!=null && doc.progressos.length>0" class="download_file" ng-click="downloadFile(doc.progressos[doc.progressos.length - 1].id,false)"></button>
	
		<!-- Botão de bloqueio/desbloqueio de documento -->
		<button ng-if="doc.idu_checkout==null" class="lock_doc" ng-click="lockDoc()" title="Bloquear Arquivo"></button>
		<button ng-if="doc.idu_checkout!=null" class="lock_doc" ng-click="delockDoc()" title="Desbloquear Arquivo"></button>

		<!-- Botão de exibir histórico -->
		<button class="mostra_historico" ng-click="mostrandoHistorico = !mostrandoHistorico"></button>
	</div>
	<h3 class="data_limite">Data Limite: {{doc.data_limite|date:'dd/MM/yyyy':'+0000'}}</h3>
	<h3 class="dias_restantes">{{doc.data_limite|daysFromNow}}</h3>
	<div class="progresso">
		<span class="validado">{{doc.progressoValidado}}%</span>
		<span class="aValidar">{{doc.progressoAValidar}}%</span>
	</div>
	<div class="hbar">
		<div ng-if="doc.progressoValidado>0"
			class="prgValidado"
			style="width: calc({{doc.progressoValidado|number}}% - 2px)">
			{{doc.progressoValidado|number}}%
		</div
		><div
			ng-if="doc.progressoAValidar>0"
			class="prgAValidar"
			style="width: calc({{doc.progressoAValidar|number}}% - 2px)">
			{{doc.progressoAValidar|number}}%
		</div>
	</div>
	<div class="ultima_atualizacao" ng-if="doc.progressos.length> 0">Ultima Atualização: {{doc.progressos[doc.progressos.length -1].data|date:"dd/MM/yyyy à's' hh:mm":'+0000'}} por {{doc.progressos[doc.progressos.length -1].usuario.nome}}</div>
	<div class="ultima_atualizacao" ng-if="doc.progressos.length==0">Nenhum progresso registrado para este documento.</div>
	<div class="historico" ng-style="mostrandoHistorico?{'max-height':'600px'}:{'max-height':0}">
		<div>{{doc.progressos.length>0?'Progresso':'Nenhum progresso registrado para este documento.'}}</div>
		<div class="historico-item" ng-repeat="prg in doc.progressos">
			<div class="hbar" ng-if="!$last">
				<div
					class="prgValidado"
					style="width: calc({{prg.progresso_total|number}}% - 2px)">
					{{prg.progresso_total|number}}%
				</div>	
			</div><div class="hbar" ng-if="$last">
				<div ng-if="doc.progressoValidado>0"
					class="prgValidado"
					style="width: calc({{doc.progressoValidado|number}}% - 2px)">
					{{doc.progressoValidado|number}}%
				</div
				><div ng-if="doc.progressoAValidar>0"
					class="prgAValidar"
					style="width: calc({{doc.progressoAValidar|number}}% - 2px)">
					{{doc.progressoAValidar|number}}%
				</div>	
			</div><span
			>{{prg.data|date:"dd/MM/yyyy à's' hh:mm"}}</span
			><a class="download_file" ng-click="downloadFile(prg.id)"></a>
		</div>
	</div>
	<div class="formUploadContainer" ng-show="mostrandoFormDeUpload">
		<span class="bt" ng-click="escondeFormDeDownload()"></span>
		<div class="form">
			<button ngf-select ng-model="docFile" ngf-multiple="false" class="bt_upload">Selecione prquivo para upload ...</button>
			<label>Progresso: </label><input type="number" min={{doc.progressoValidado}} max="100" ng-model="novoProgresso">
			<button class="bt_limpo bt_cancelar_upload" ng-click="mostrandoFormDeUpload = false">Cancelar</button>
			<button class="bt_limpo bt_realizar_upload" ng-click="downloadFile(doc.progressos[doc.progressos.length - 1])">Atualização de arquivo</button>
		</div>
	</div>
</div>