<div id="senha_container" class="bloco_conteudo bloco_central_50" md-whiteframe="1dp">
	<h1>Trocar Senha</h1>
	<div layout="column">
		<md-input-container>
			<label>Login</label>
			<input type="text" name="login" ng-model="data.login" placeholder="Digite o login" >
		</md-input-container>
		<md-input-container>
			<label>Senha</label>
			<input type="password" name="senha1" ng-model="data.senha1" placeholder="Digite nova senha para altera-la">
		</md-input-container>
		<md-input-container>
			<label>Confirmação de Senha</label>
			<input type="password" name="senha1" ng-model="data.senha2" placeholder="Confirme a senha digitada no campo anterior">
		</md-input-container>
	</div>
	<div layout="row">
		<md-button class="md-raised md-accent" aria-label="Cancelar" ng-click="cancel()">Cancelar</md-button>
		<span flex></span>
		<md-button
			class="md-raised  md-primary"
			aria-label="Salvar" 
			ng-disabled="data.login=='' || data.senha1!=data.senha2"
			ng-click="mudaLoginSenha(data.login,data.senha1)">
			{{data.senha1!=data.senha2?"Confirme a senha corretamente":"Salvar"}}
		</md-button>
	</div>
</div>
