body {
	background-color: #F0F0F0;
	margin: 0 0 0 0;
	font-family: "Poppins", sans-serif;
}

aside{
	position: fixed;
	left: 0;
	top:0;
	width: 400px;
	height: 100%;
	overflow-y: visible;
	font-size: 14px;
}

main {
	margin: 0 0 0 400px;
	background-color: #FFF;
	padding-bottom: 20px;
	width: calc(100% - 400px);
	max-width: 1200px;
}

main .logo{
	margin:  20px 0;
	width: 50%;
	position: relative;
	left: 25%;
}

main article{
	margin: 0 20px 40px 20px;
}

main article .imgTela {
	width: 100%;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

main article .imgInline {
	vertical-align: middle;
	width:36px;
}

main article p{
	margin: 15px 0 15px 0;
	text-align: justify;
}

main article h3{
	margin: 30px 0 0 0;
	font-size: 18px;
	text-indent: 20px;
}

main article center{
	padding: 20px;
	background-color: #3998ee;
	margin: 20px;
	color: #FFF;
}

main article h4{
	margin: 30px 0 0 0;
	font-size: 16px;
	text-indent: 40px;
	
	font-weight: bold
}