<div ng-class="{'avisa_resultado_50':true,'positivo':ok,'negativo':!ok}" ng-show="obteve_resposta">{{msg}}</div>
<form name="form_disciplina" novalidate="">
	<div id="disciplina_container" class="bloco_conteudo bloco_central_80" md-whiteframe="1dp">
		<h1><img src="img/disciplina.png">Dados de {{ disciplina.id==0 ? 'Nova Disciplina' : disciplina.nome}}</h1>
		<div>
			<div class="item">
				<label for="disciplina">Nome:</label>
				<input type="text" placeholder="Digite o nome da disciplina" ng-model="disciplina.nome" required>
			</div>
			<div class="item">
				<label for="sigla">Sigla:</label>
				<input type="text" name="sigla" placeholder="Digite a sigla da disciplina (4 caracteres)" ng-model="disciplina.sigla" required>
			</div>
			<div class="item">
				<label for="ativa">Ativa:</label>
				<input type="checkbox" name="ativa" ng-model="disciplina.ativa">
				<span ng-if="disciplina.ativa != inicialmenteAtiva" class="aviso">A disciplina será {{disciplina.ativa?'ATIVADA':'INATIVADA'}}</span>
			</div>
		</div>
		<button class="bt_cancelar" ng-click="cancel()">Cancelar</button>
		<button	class="bt_salvar" ng-click="salvarDisciplina()" ng-disabled="form.$invalid || (disciplina.nome==disciplinaRef.nome && disciplinaRef.sigla==disciplina.sigla && disciplina.ativa==disciplinaRef.ativa)">Salvar</button>
	</div>
</form>

<div class="avisa_resultado_50 negativo" ng-show="erroEmOperacaoDeSubdisciplina!=null">{{erroEmOperacaoDeSubdisciplina}}</div>
<div ng-if="disciplina.id!=0" id="subdisciplina_container" class="bloco_conteudo bloco_central_80" md-whiteframe="1dp">
	<h1>Subdisciplinas de {{disciplina.nome}}</h1>
	<table>
		<thead>
			<tr>
				<td>Nome</td>
				<td>Sigla</td>
				<td>Status</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="sub in disciplina.subs track by $index">
				<!-- Campo de nome -->
				<td ng-if="sub.id != subdisciplinaEditada.id">{{sub.nome}}</td>
				<td ng-if="sub.id == subdisciplinaEditada.id"><input type="text" name="nome_{{sub.id}}" id="nome_{{sub.id}}" ng-model="subdisciplinaEditada.nome"></td>
				
				<!-- Campo de sigla -->
				<td ng-if="sub.id != subdisciplinaEditada.id">{{sub.sigla}}</td>
				<td ng-if="sub.id == subdisciplinaEditada.id"><input type="text" maxlength="4" name="sigla_{{sub.id}}" ng-model="subdisciplinaEditada.sigla"></td>
				
				<!-- Campo de Status -->
				<td ng-if="sub.id != subdisciplinaEditada.id">{{sub.ativa?"Ativa":"Inativa"}}</td>
				<td ng-if="sub.id == subdisciplinaEditada.id"><input type="checkbox" name="ativa_{{sub.id}}" ng-model="subdisciplinaEditada.ativa">{{subdisciplinaEditada.ativa?"Ativa":"Inativa"}}</td>

				<!-- botões -->
				<td>
					<!-- em modo normal: botões de remover e alterar -->
					<button ng-if="sub.id!=subdisciplinaEditada.id" class="bt_cancelar" ng-click="removerSubdisciplina(sub.id)">Remover</button>
					<button ng-if="sub.id!=subdisciplinaEditada.id" class="bt_alterar" ng-click="editarSubdisciplina(sub.id)">Alterar</button>

					<!-- em modo edição: botões de salvar e cancelar -->
					<button ng-if="sub.id==subdisciplinaEditada.id" class="bt_limpo" ng-click="cancelarAlteracoesEmSubdisciplina(sub.id)">Cancelar</button>
					<button ng-if="sub.id==subdisciplinaEditada.id" class="bt_salvar" ng-click="salvarSubdisciplina(sub.id)">Salvar</button>
				</td>
			</tr>
		</tbody>
	</table>
	<button class="bt_adicionar" ng-click="editarSubdisciplina(0)" ng-disabled="subdisciplinaEditada!=null">+ Adicionar Subdisciplina</button>
	<help>
		<text>
			Subdisciplinas são divisões de uma disciplina.
		</text>
	</help>
</div>

<div ng-if="disciplina.id!=0" id="especialista_container" class="bloco_conteudo bloco_central_80" md-whiteframe="1dp">
	<h1>Especialistas de {{disciplina.nome}}</h1>
	<table>
		<thead>
			<tr>
				<td>Nome</td>
				<td>E-mail</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="esp in especialistas track by $index">
				<td>{{esp.nome}}</td>
				<td>{{esp.email}}</td>
				<td>
					<button class="bt_cancelar" ng-click="removerEspecialista(esp.id)">Remover</button>
				</td>
			</tr>
			<tr ng-if="inserindoNovoEspecialista">
				<td colspan="2">
					<select
						name="selNovoEspecialista"
						id="selNovoEspecialista"
						ng-options="option.nome for option in data.possiveisEspecialistas track by option.id"
						ng-model="data.selecionado">
					</select>
				</td>
				<td>
					<button class="bt_limpo" ng-click="cancelarAlteracoesEmNovoEspecialista()">Cancelar</button>
					<button class="bt_salvar" ng-click="salvarEspecialista()" ng-disabled="data.selecionado.id == 0">Salvar</button>
				</td>
			</tr>
		</tbody>
	</table>
	<button class="bt_adicionar" ng-click="adicionarNovoEspecialista()" ng-disabled="inserindoNovoEspecialista">+ Adicionar Especialista</button>
	<help>
		<text>
			Os usuários que são especialistas em uma disciplina tem permissão para acessar e alterar os documentos desta disciplina.
			As alterações realizadas por estes especialistas deverão ser validadas por um ou mais usuário validador desta
			disciplina.
		</text>
	</help>
</div>

<div ng-if="disciplina.id!=0" id="validador_container" class="bloco_conteudo bloco_central_80" md-whiteframe="1dp">
	<h1>Validadores da {{disciplina.nome}}</h1>
	<table>
		<thead>
			<tr>
				<td>Nome</td>
				<td>E-mail</td>
				<td>Tipo</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="val in validadores track by $index">
				<td>{{val.nome}}</td>
				<td>{{val.email}}</td>
				<td>{{val.tipo=="1"?"Necessário":"Suficiente"}}</td>
				<td>
					<button class="bt_cancelar" ng-click="removerValidador(val.id)">Remover</button>
				</td>
			</tr>
			<tr ng-if="inserindoNovoValidador">
				<td colspan="2">
					<select
						name="selNovoValidador"
						id="selNovoValidador"
						ng-options="option.nome for option in dataValidadores.possiveisValidadores track by option.id"
						ng-model="dataValidadores.selecionado">
					</select>
				</td>
				<td>
					<select
						name="selTipoValidador"
						id="selTipoValidador"
						ng-options="option.nome for option in tiposDeValidadores.tipos track by option.id"
						ng-model="tiposDeValidadores.selecionado">
					</select>
				</td>
				<td>
					<button class="bt_limpo" ng-click="cancelarAlteracoesEmNovoValidador()">Cancelar</button>
					<button class="bt_salvar" ng-click="salvarValidador()" ng-disabled="dataValidadores.selecionado.id == 0">Salvar</button>
				</td>
			</tr>
		</tbody>
	</table>
	<button class="bt_adicionar" ng-click="adicionarNovoValidador()" ng-disabled="inserindoNovoValidador">+ Adicionar Validador</button>
	<help>
		<text>
			<p>Validadores são usuários que validam as alterações feitas nos documentos.</p>
			<p>Uma disciplina pode ter vários validadores.</p>
			<p>Um validador pode ser de dois tipos: Suficiente ou Necessário.</p>
			<p>Um documento é tido como validado se uma das duas coisas abaixo acontecer:
			<ul>
				<li>Todos os validadores necessários validam o documento</li>
				<li>Pelo menos um validador suficiente valida o documento</li>
			</ul>
		</p>
		</text>
	</help>
</div>