<div id="disciplinas_container" class="container_80">
	<div class="controles" layout="row" layout-align="space-between center">
		<md-button ng-click="goToAddDisciplina()" class="md-raised md-primary" aria-label="Adicionar Disciplina">Adicionar Disciplina</md-button>	
		<md-input-container>
			<label>Buscar por Disciplina</label>
			<md-icon class="material-icons step" aria-label="Buscar Disciplina">search</md-icon>
			<input type="text" ng-model="q.nome" placeholder="Digite">
		</md-input-container>
	</div>
	
	<div class="lista">
		<a ng-repeat="d in disciplinas|filter:q.nome|orderBy:'nome'" href="#/disciplinas/{{d.id}}" class="bloco_conteudo disciplina" md-whiteframe="1dp">
			<h2>{{d.nome}}</h2>
			<h3>{{d.sigla}}</h3>
		</a>
	</div>
</div>