<div id="disciplina_container" class="bloco_conteudo bloco_central_80" md-whiteframe="1dp">
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="Dados da Disciplina">
			<md-content class="md-padding">
				<h1 class="md-display-2">Dados da Disciplina</h1>
				<form name="form_disciplinaInfo" ng-submit="salvarDisciplina()">
					<div layout="row" layout-align="space-between center">
						<md-input-container flex="30">
							<label>Nome</label>
							<input type="text" placeholder="Dê um nome para a disciplina" ng-model="disciplina.nome" required>
						</md-input-container>
						
						<md-input-container flex="30">
							<label>Sigla</label>
							<input type="text" placeholder="Digite uma sigla para a disciplina" ng-model="disciplina.sigla"  maxlength="4" required>
						</md-input-container>

						<md-input-container flex="30">
							<md-checkbox class="md-primary" ng-model="disciplina.ativa" name="string" aria-label="Disciplina Ativa?">
								Ativa
							</md-checkbox>
						</md-input-container>
					</div>
					<div layout="row" layout-align="end start">
						<md-button class="md-raised md-accent" ng-click="cancel()">Cancelar</md-button>
						<md-button class="md-raised md-primary" ng-click="salvarDisciplina()" ng-disabled="form_disciplinaInfo.$pristine || !form_disciplinaInfo.$valid">Salvar</md-button>
					</div>
					<button type="submit" style="display: none"></button>
				</form>
			</md-content>
		</md-tab>

		<md-tab label="Subdisciplinas" ng-disabled="disciplina.id==0">
			<md-content class="md-padding" ng-controller="SubdisciplinaController">
				<h1 class="md-display-2">Subdisciplinas</h1>
				<help>
					<text>
						Subdisciplinas são divisões de uma disciplina.
					</text>
				</help>
				<div layout="row" layout-align="space-between center">
					<md-button class="md-raised md-primary" aria-label="Nova Subdisciplina" ng-click="openSubDialog($event,{id:0,ativa:true})">Nova Subdisciplina</md-button>
					<md-input-container>
						<label>Buscar por Subdisciplina</label>
						<md-icon class="material-icons step" aria-label="Buscar Subdisciplina">search</md-icon>
						<input type="text" ng-model="q.nome" placeholder="Digite">
					</md-input-container>
				</div>
				<table>
					<thead>
						<tr>
							<td>Nome</td>
							<td>Sigla</td>
							<td>Status</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="sub in disciplina.subs | orderBy:'nome' | filter:q.nome">
							<td>{{sub.nome}}</td>
							<td>{{sub.sigla}}</td>
							<td>{{sub.ativa?"Ativa":"Inativa"}}</td>
							<td>
								<md-button class="md-icon-button" aria-label="Alterar Subdisciplina" ng-click="openSubDialog($event,sub)">
									<md-icon class="material-icons step" aria-label="Alterar Subdisciplina">mode_edit</md-icon>
								</md-button>
							</td>
						</tr>
					</tbody>
				</table>
			</md-content>
		</md-tab>

		<md-tab label="Especialistas" ng-disabled="disciplina.id==0">
			<md-content class="md-padding" ng-controller="EspecialistasController">
				<h1 class="md-display-2">Especialistas</h1>
				<help>
					<text>
						Os usuários que são especialistas em uma disciplina tem permissão para acessar e
						alterar os documentos desta disciplina. As alterações realizadas por estes especialistas
						deverão ser validadas por um ou mais usuário validador desta disciplina.
					</text>
				</help>
				<form name="form_especialistas" novalidate>
					<md-chips
							ng-model="especialistas"
							md-autocomplete-snap
							md-require-match="true">
						<md-autocomplete
								md-no-cache="true"
								md-selected-item="usuarioSelecionado"
								md-search-text="search"
								md-search-text-change="searchTextChange(search)"
								md-selected-item-change="selectedItemChange(u)"
								md-items="u in filtrarTexto(search)"
								md-item-text="u.nome">
							<span md-highlight-text="searchText">{{u.nome}}</span>
						</md-autocomplete>
						<md-chip-template>
							<span>
								<strong>{{$chip.nome}}</strong>
								<em>({{$chip.email}})</em>
							</span>
						</md-chip-template>
					</md-chips>
					<div layout="row" layout-align="end end" class="md-margin">
						<md-button
							class="md-raised md-primary"
							ng-disabled="form_especialistas.$pristine"
							aria-label="Salvar Especialistas"
							ng-click="salvar()">Salvar</md-button>
					</div>
				</form>
			</md-content>
		</md-tab>

		<md-tab label="Validadores" ng-disabled="disciplina.id==0">
			<md-content class="md-padding" ng-controller="ValidadoresController">
				<h1 class="md-display-2">Validadores</h1>
				<help>
					<text>
						<p>Validadores são usuários que validam as alterações feitas nos documentos.</p>
						<p>Uma disciplina pode ter vários validadores.</p>
					</text>
				</help>
				<form name="form_validadores" novalidate>
					<md-chips
							ng-model="validadores"
							md-autocomplete-snap
							md-require-match="true">
						<md-autocomplete
								md-no-cache="true"
								md-selected-item="usuarioSelecionado"
								md-search-text="search"
								md-search-text-change="searchTextChange(search)"
								md-selected-item-change="selectedItemChange(u)"
								md-items="u in filtrarTexto(search)"
								md-item-text="u.nome">
							<span md-highlight-text="searchText">{{u.nome}}</span>
						</md-autocomplete>
						<md-chip-template>
							<span>
								<strong>{{$chip.nome}}</strong>
								<em>({{$chip.email}})</em>
							</span>
						</md-chip-template>
					</md-chips>
					<div layout="row" layout-align="end end" class="md-margin">
						<md-button
							class="md-raised md-primary"
							ng-disabled="form_validadores.$pristine"
							aria-label="Salvar Validadores"
							ng-click="salvar()">Salvar</md-button>
					</div>
				</form>
			</md-content>
		</md-tab>
	</md-tabs>
</div>